In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')



### Table of Contents

1.  <a href='#section 1'>Filtering with "where"</a>

    a. <a href='#subsection 1a'> How to use "where"</a> <br><br>
    
2. <a href='#section 2'>Filtering with "take"</a>

---

## The Data <a id='data'></a>

Today, we will continue work with the US census data, just looking at years 2010 and 2014. 
As a reminder, the `SEX` column contains numeric codes: `0` stands for the total, `1` for male, and `2` for female. The `AGE` column contains ages in completed years, but the special value `999` is a sum of the total population.



---

In [2]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
us_pop.sort('AGE')

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3949775
1    | 0    | 2018420 | 2020326
2    | 0    | 1932910 | 1929449
0    | 1    | 3957888 | 3949776
1    | 1    | 2020332 | 2018401
2    | 1    | 1937556 | 1931375
0    | 2    | 4090862 | 3959664
1    | 2    | 2088685 | 2023673
2    | 2    | 2002177 | 1935991
0    | 3    | 4111920 | 4007079
... (296 rows omitted)

## Filtering with "where"  <a id='section 1'></a>

Often, we only want to analyze a certain subset of our data at a time.

For example, let's filter our data to only look at the population counts of males.



<b>Question 1:</b> What is the table's numeric code for males?

<b>Answer: </b> YOUR ANSWER HERE

In [3]:
males_pop = us_pop.where('SEX', are.equal_to(1))
males_pop

SEX  | AGE  | 2010    | 2014
1    | 0    | 2018420 | 2020326
1    | 1    | 2020332 | 2018401
1    | 2    | 2088685 | 2023673
1    | 3    | 2101272 | 2049596
1    | 4    | 2084312 | 2044517
1    | 5    | 2076573 | 2044339
1    | 6    | 2079410 | 2111060
1    | 7    | 2063139 | 2122832
1    | 8    | 2054462 | 2105618
1    | 9    | 2107037 | 2097690
... (92 rows omitted)

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`males_pop`** to a table whose rows are the rows in the **`us_pop`** table **`where`** the **`'SEX'`**s **`are` `equal` `to` `1`**.

As we can see in the above example, we've chosen only a subset of the rows of the original table - specifically the rows corresponding to male census participants.

<b> Question 2</b>: Fill in the blanks to only select population counts corresponding to females.

In [4]:
females_pop = us_pop.where(..., are.equal_to(...))
females_pop

TypeError: object of type 'ellipsis' has no len()

In [47]:
# ANSWER KEY
females_pop = us_pop.where('SEX', are.equal_to(2))
females_pop

SEX  | AGE  | 2010    | 2014
2    | 0    | 1932910 | 1929449
2    | 1    | 1937556 | 1931375
2    | 2    | 2002177 | 1935991
2    | 3    | 2010648 | 1957483
2    | 4    | 1993239 | 1961199
2    | 5    | 1988080 | 1962561
2    | 6    | 1993603 | 2024870
2    | 7    | 1979907 | 2032494
2    | 8    | 1971142 | 2015285
2    | 9    | 2018378 | 2010659
... (92 rows omitted)

### `where` <a id='subsection 1a'></a>

Now let's dive into the details a bit more.  `where` takes 2 arguments:

1. The name of a column.  `where` finds rows where that column's values meet some condition.
2. A predicate that describes the condition that the column needs to meet.

The predicate in the examples above called the function `are.equal_to` with the values we wanted, 1 (or 2).  We'll see other predicates next.

`where` returns a table that's a copy of the original table, but **with only the rows that meet the given predicate**.

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

Let's go back to the census data.

In [49]:
us_pop.sort("AGE", descending = True) # RUN THIS CELL

SEX  | AGE  | 2010      | 2014
2    | 999  | 157258820 | 161952064
1    | 999  | 152088043 | 156955337
0    | 999  | 309346863 | 318907401
2    | 100  | 45058     | 58008
1    | 100  | 9352      | 13618
0    | 100  | 54410     | 71626
2    | 99   | 26074     | 32517
1    | 99   | 6104      | 8951
0    | 99   | 32178     | 41468
2    | 98   | 37532     | 46208
... (296 rows omitted)

Remember the numerical code 999 stands for total (across all ages), but let's say we're only interested in specific ages (NOT their total). We could do another .where to accomplish this:

In [16]:
pop_by_age = us_pop.where("AGE", are.below(999)).sort("AGE", descending= True)
pop_by_age

SEX  | AGE  | 2010  | 2014
2    | 100  | 45058 | 58008
1    | 100  | 9352  | 13618
0    | 100  | 54410 | 71626
2    | 99   | 26074 | 32517
1    | 99   | 6104  | 8951
0    | 99   | 32178 | 41468
2    | 98   | 37532 | 46208
1    | 98   | 9505  | 13518
0    | 98   | 47037 | 59726
2    | 97   | 54118 | 62779
... (293 rows omitted)

<b> Question 3</b>: Fill in the blanks to only select population counts corresponding to males and females (but not their totals.)

Hint: Remember, in the SEX column, 0 represents total.

In [50]:
both_sexes = pop_by_age.where("...", ...(...))
both_sexes

TypeError: 'ellipsis' object is not callable

In [51]:
# ANSWER KEY
both_sexes = pop_by_age.where("SEX", are.above(0)).sort("AGE", descending= True)
both_sexes

SEX  | AGE  | 2010  | 2014
1    | 100  | 9352  | 13618
2    | 100  | 45058 | 58008
1    | 99   | 6104  | 8951
2    | 99   | 26074 | 32517
1    | 98   | 9505  | 13518
2    | 98   | 37532 | 46208
1    | 97   | 14775 | 20310
2    | 97   | 54118 | 62779
1    | 96   | 22022 | 31053
2    | 96   | 75139 | 89432
... (192 rows omitted)

## 2. Filtering with "take" <a id='section 2'></a>

Let's combine what we did above to remove totals of ages and sex, and only look at the year 2014.

In [52]:
us_pop_2014 = us_pop.where("SEX", are.above(0)).where("AGE", are.below(999)).drop("2010")
us_pop_2014_sorted = us_pop_2014.sort("AGE", descending = True)
us_pop_2014_sorted # RUN THIS CELL

SEX  | AGE  | 2014
2    | 100  | 58008
1    | 100  | 13618
2    | 99   | 32517
1    | 99   | 8951
2    | 98   | 46208
1    | 98   | 13518
2    | 97   | 62779
1    | 97   | 20310
2    | 96   | 89432
1    | 96   | 31053
... (192 rows omitted)

Remember, `tbl.take()` allows us to specify which row numbers of the above table we want to look at.

In [53]:
us_pop_2014_sorted.take(0) # RUN THIS CELL

SEX  | AGE  | 2014
2    | 100  | 58008

This lets us look at just the first row of the table. (Remember, row numbers start with 0!)

<b> Question 1</b>: Fill in the blanks to only select population counts corresponding to males and females between ages <b> 98 - 100 </b>.

Hint: how many rows of the above table do we want?

In [44]:
seniors_2014 = us_pop_2014_sorted.take(np.arange(...,...)) ## YOUR CODE HERE
seniors_2014

TypeError: unsupported operand type(s) for -: 'ellipsis' and 'ellipsis'

In [56]:
# ANSWER KEY
seniors_2014 = us_pop_2014_sorted.take(np.arange(0,6)) ## YOUR CODE HERE
seniors_2014

# Alternate solution:
seniors_2014 = us_pop_2014_sorted.where("AGE", are.between(98, 101)) ## YOUR CODE HERE
seniors_2014

SEX  | AGE  | 2014
2    | 100  | 58008
1    | 100  | 13618
2    | 99   | 32517
1    | 99   | 8951
2    | 98   | 46208
1    | 98   | 13518

<b> Question 2</b>: What do you notice about the above table?

<b> ANSWER: </b>
   Notice the differences in population counts between males and females (more females than males in this age range)

---

## Bibliography

- John Denero - Data 8X, Census: Males and Females. https://www.youtube.com/watch?v=SAJavz58uHk&feature=youtu.be
- Data 8 Spring 2020 - Lab 02. http://data8.org/sp20/

---
Notebook developed by: X, X, X

Data Science Modules: http://data.berkeley.edu/education/modules